<div class="container">
  <div class="post-user-name">
    <%= link_to(@tweet.name, "/tweets/#{@tweet.id}") %>
  </div>
  <p>
    <%= @tweet.content %>
  </p>
  <div class="tweet-menus">
    <%= link_to("編集", "/tweets/#{@tweet.id}/edit", method: :get) %>
    <%= link_to("削除", "/tweets/#{@tweet.id}", method: :delete) %>
  </div>
</div>